.dev{
	list-style:none;
	float:left;
}ul.dev li{
	float:left;
}ul.dev a{
	padding:20px;
	background-color:#000000;
	text-decoration:none;
	color:#FFFFFF;
	text-align:center;
}ul.dev a:hover,
 ul.dev a:active{
	padding:20px;
	background-color:#FFF0E0;
	color:#000;
	text-align:center;
}